@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
  @apply flex justify-center items-center;
}

::-webkit-scrollbar {
  /* scrollbar-width: thin; */
  /* width: 20px; */
  color: red;
}

/* .mycontainer { */
/* width: 100%;
  min-height: 100vh;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white; */
/* } */
/* .mycontainer div {
  background-color: aqua;
  border-radius: 20px;
  height: 250px;
}

@media screen and (max-width: 1082px) {
  .mycontainer {
    grid-template-columns: 1fr 1fr;
  }
}


@media screen and (max-width: 670px) {
  .mycontainer {
    grid-template-columns: 1fr;
  }
  .mycontainer div {
    border-radius: 0px;
  }
} */
@media screen and (max-width: 768px) {
  .search-mobile {
    @apply w-full absolute flex left-0 right-0 h-[60px] z-20 justify-evenly items-center bg-white px-2;
  }
}
